*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
}

main{

}

.navigation-items{
    display: flex;
    justify-content:flex-end;

}
.navigation-items a{
    text-decoration: none;
    margin-left: 15px;
}
.search-container{
    
}
.logo-name{
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 15px;
}
.search-box{
    margin:0 auto;
    height: 50px;
    width: 250px;

}
.search-box form{
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border: 1px rgb(224, 219, 219) solid;
    padding: 5px 5px 5px 25px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translate(-30%);
    
}
.search-box-form{
    position: relative;
    width: 450px;
    height: 40px;
    border: none;
}
input:focus,textarea:focus,select:focus{
    outline: none;
}
.search-icon img{

}
.submit-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.submit-button button{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}
.submit-button-container input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.submit-button-container input[type="submit"], .gbqfba {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.country{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.both-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.one {
    padding: 0 20px;
}
.small-text {
    display: block;
    padding: 15px;
    white-space: nowrap;
}
footer {
    background-color: #eeeeee;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}